/* ------------------------------------------------------------
# TYPOS
------------------------------------------------------------ */
@font-face {
	font-family: 'Texte';
	src: url('../fonts/cooperhewitt-book-webfont.woff2') format('woff2'),
		url('../fonts/cooperhewitt-book-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Texte';
	src: url('../fonts/cooperhewitt-bold-webfont.woff2') format('woff2'),
		url('../fonts/cooperhewitt-bold-webfont.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Texte';
	src: url('../fonts/cooperhewitt-bookitalic-webfont.woff2') format('woff2'),
		url('../fonts/cooperhewitt-bookitalic-webfont.woff') format('woff');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Texte';
	src: url('../fonts/cooperhewitt-bolditalic-webfont.woff2') format('woff2'),
		url('../fonts/cooperhewitt-bolditalic-webfont.woff') format('woff');
	font-weight: bold;
	font-style: italic;
}

/* ------------------------------------------------------------
# KEYFRAMES (animation)
------------------------------------------------------------ */

/* ------------------------------------------------------------
# VARIABLES
------------------------------------------------------------ */
:root {
	--gouttiere: 2.5rem;

    --login-input: #00693E;

    --sidebar-backgroud: #0068b2;
    --sidebar-profile: #004777;
	--sidebar-color:  #fff;
	--sidebar-input: #dedede;
    --sidebar-title: #AA1C17;
	--sidebar-span: #D8D8D8;
	--sidebar-svg: brightness(0) saturate(100%) invert(92%) sepia(0%) saturate(7492%) hue-rotate(68deg) brightness(110%) contrast(100%);
    --sidebar-svg-hover:brightness(0) saturate(100%) invert(92%) sepia(0%) saturate(7492%) hue-rotate(68deg) brightness(110%) contrast(100%);

	--section-background: #f9f7ed;
    --section-color: #262626;
    --section-input: #ffffff;
	--section-title: #2D527C;
	--section-svg: filter: brightness(0) saturate(100%) invert(91%) sepia(12%) saturate(3777%) hue-rotate(186deg) brightness(111%) contrast(104%);
	--section-svg-hover: brightness(0) saturate(100%) invert(30%) sepia(25%) saturate(1116%) hue-rotate(171deg) brightness(92%) contrast(93%);
} 

/* ------------------------------------------------------------
# SELECTEURS HTML
------------------------------------------------------------ */
*{
    font-family: 'Texte';
}

section{
    position: relative;
    left: 30%;
    width: 70%;
    padding: 2rem;
}

section h1 {
    text-align: center;
}
button:hover {
    opacity: 0.8;
} 

footer {
    position: relative;
    color: var(--sidebar-input);
    left: 30%;
    width: 70%;
    bottom: 0%;
    padding: 2rem;
    background-color: var(--sidebar-profile);
    display: table;
}

footer i {
    width: 0.3;
    height: 0.3;
}

/* ------------------------------------------------------------
# CLASSES
------------------------------------------------------------ */
.sidebar {
    width: 30%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--sidebar-backgroud);
    padding: 1rem;
    overflow:scroll;
    overflow-x:hidden;
}

.sidebar-title {
    color: var(--section-input);
    text-align: center;
    font-size: 3rem;
    margin-bottom: 2rem;
}

.or {
    color: var(--section-input);
    text-align: center;
}
.sidebar > nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.sidebar > nav li {
    margin: 1rem 3rem 0;
}
.logout {
    display: block;
    width: 50%;
    border: none;
    font-size: 1.8rem;
    border-radius: 0.5rem;
    background-color: #AA1C17;
}
.logout a {
    color: aliceblue;
}

#nav .btn {
    display: block;
    border: none;
    border-radius: 0.5rem;
    background-color: var(--sidebar-span);
    text-decoration: none;
    font-size: 1.6rem; 
    color: var(--section-color);
    width: 50%;
} 
#nav .btn:hover {
    background-color: var(--sidebar-profile);
    color: white;
}
#nav .active {
    background-color: var(--sidebar-profile);
    color: white;
}
#nav .btn :first-child {
    float: left;
    cursor: pointer;
    padding-left: 0.2rem;
    display: flex;
    width: 2rem;
    margin: auto;
    margin-top: 0.1rem;
}

#nav .logout :first-child {
    float: left;
    cursor: pointer;
    padding-left: 0.2rem;
    display: block;
    padding: auto;
    width: 2rem;
    fill: var(--section-input);
    margin: auto;
    margin-top: 0.1rem;
}

.hide {
    position: absolute;
    left: 50%;
    top: 6.5rem;
    display: none;
    color: var(--section-input);
    width: 50%;
}
.active + .hide {
    display: block;
} 
.hide input[type="checkbox"] {
    display: none;
}
.hide span {
    display: block;
    text-align: center;
    padding: 0.2rem;
    font-size: 1rem;
    border: solid 0.2rem var(--section-input);
    border-radius: 0.5rem;
}
.hide input[type="checkbox"]:checked + span {
    background-color: var(--section-input);
    color: var(--section-color);
}
.sidebar .user-info {
    position: absolute;
    bottom: 0%;
    left: 0%;
    width: 100%;
    padding: 20px;
    /* border-top: 0.8rem solid var(--section-title); */
    background-color: var(--sidebar-profile);
    color: var(--sidebar-span);
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between 2rem;
}

.user-profile-picture {
    width: 4rem;
    height: 4rem;
    border-radius: 5%;
    overflow: hidden;
    margin-right: 0.6rem;
}

.user-profile-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.user-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.user-details h3 {
    margin: 0;
    font-size: 1.2rem;
}

.user-details p {
    margin: 0;
    font-size: 1rem;
}

.settings-icon {
    font-size: 2rem;
    width: 3rem;
    height: 3rem;
    margin-left: auto;
}

.settings-icon img {
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(35deg) brightness(107%) contrast(101%);
    transition: transform 0.2s ease-in;
}
.user-info:hover .settings-icon img {
    transform: rotate(45deg);
}

.user-info:hover > .settings-icon {
    filter: brightness(0) saturate(100%) invert(100%) sepia(11%) saturate(409%) hue-rotate(328deg) brightness(111%) contrast(73%);
}

.test {
    font-size: 1.5rem;
}

.test::before {
	content: '';
	display: block;
	position: absolute;
    left: -1rem;
	z-index: -1;
	width: 110%;
	height: 20rem;

	background-color: inherit;
	top: 0.2rem;
	transform: translateY(20%) skewY(-2.5deg);
	border-top: 1rem solid var(--section-title);
}

.post{
    color: var(--section-color);
    object-position: center;
    padding: 3rem;
    z-index: 10;
}

.user-info-post{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between 2rem;
}

.user-picture-post {
    width: 3rem;
    height: 3rem;
    border-radius: 5%;
    overflow: hidden;
    margin-right: 10px;
}
.date {
    font-size: 0.8rem;
    margin-left: auto;
}
.content {
    font-size: 1.4rem;
}
.cubic-bezier {
    display: flex;
    height: 20rem;
    gap: 1rem;
}
.user-picture-post img {
        width: 100%;
        height: 100%;
        object-fit: cover;
} 
.cubic-bezier > div {
    flex: 1em;
    border-radius: 1rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    transition: all .8s cubic-bezier(.25, .4, .45, 1.4);
}

.cubic-bezier > div:hover {
    flex: 6em;
}

.post-content p:first-child {
    margin-right: auto;
}

.post-content p:last-child {
    margin-left: auto;
}

.column {
    float: left;
    width: 25%;
    padding: 1rem;
}

.column h1 {
    font-size: 150%;
}
/* ------------------------------------------------------------ 
# IDs
------------------------------------------------------------ */