/* ------------------------------------------------------------
# TYPOS
------------------------------------------------------------ */
@font-face {
	font-family: 'Texte';
	src: url('../fonts/cooperhewitt-book-webfont.woff2') format('woff2'),
		url('../fonts/cooperhewitt-book-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Texte';
	src: url('../fonts/cooperhewitt-bold-webfont.woff2') format('woff2'),
		url('../fonts/cooperhewitt-bold-webfont.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Texte';
	src: url('../fonts/cooperhewitt-bookitalic-webfont.woff2') format('woff2'),
		url('../fonts/cooperhewitt-bookitalic-webfont.woff') format('woff');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Texte';
	src: url('../fonts/cooperhewitt-bolditalic-webfont.woff2') format('woff2'),
		url('../fonts/cooperhewitt-bolditalic-webfont.woff') format('woff');
	font-weight: bold;
	font-style: italic;
}

/* ------------------------------------------------------------
# KEYFRAMES (animation)
------------------------------------------------------------ */
/* media query for phones
@media screen and (max-width: 768px) {
    aside {
    top: auto;
    left: 0;
    right: 0;
    height: 100px;
    }
} */
/* ------------------------------------------------------------
# VARIABLES
------------------------------------------------------------ */
:root {
	--gouttiere: 2.5rem;

    --login-input: #00693E;

    --sidebar-backgroud: #0068b2;
    --sidebar-profile: #004777;
	--sidebar-color:  #fff;
	--sidebar-input: #dedede;
    --sidebar-title: #AA1C17;
	--sidebar-span: #D8D8D8;
	--sidebar-svg: brightness(0) saturate(100%) invert(92%) sepia(0%) saturate(7492%) hue-rotate(68deg) brightness(110%) contrast(100%);
    --sidebar-svg-hover:brightness(0) saturate(100%) invert(92%) sepia(0%) saturate(7492%) hue-rotate(68deg) brightness(110%) contrast(100%);

	--section-background: #f9f7ed;
    --section-color: #262626;
    --section-input: #ffffff;
	--section-title: #2D527C;
	--section-svg: filter: brightness(0) saturate(100%) invert(91%) sepia(12%) saturate(3777%) hue-rotate(186deg) brightness(111%) contrast(104%);
	--section-svg-hover: brightness(0) saturate(100%) invert(30%) sepia(25%) saturate(1116%) hue-rotate(171deg) brightness(92%) contrast(93%);
} 
/* ------------------------------------------------------------
# SELECTEURS HTML
------------------------------------------------------------ */
* {
    font-family: 'Texte';
}
aside {
    background-color: var(--sidebar-backgroud);
    position: fixed;
    color: var(--sidebar-color);
    width: 550px;
    height: 100%;
    left: 0;
    padding: 0;
    margin: 0;
    /* overflow:scroll; */
    overflow-x:hidden;
}
aside header {
    background-color: var(--sidebar-backgroud);
    height: 5%;
    font-size: xx-large;
    text-align: center;
    align-items: center;
    justify-content: center;
}
aside nav {
    background-color: var(--sidebar-backgroud);
    height: calc(100%);
    /* overflow:scroll; */
    overflow-x: hidden;
}
aside footer {
    background-color: var(--sidebar-profile);
    color: var(--sidebar-color);
    position: sticky;
    height: 120px;
    width: 100%;
    bottom: 0%;
    left: 0%;
    padding: 20px;
}
aside footer > * {
    align-items: center;
    justify-content: center;
    display:inline-block;
    vertical-align:middle;
}
section header {
    font-size: xx-large;
    text-align: center;
    align-items: center;
}
section header::after {
	content: '';
	display: block;
	position: absolute;
    left: -1rem;
	z-index: -1;
	width: 110%;
    height: 10em;
	background-color: inherit;
	top: 0.2rem;
	transform: translateY(20%) skewY(-2.5deg);
	border-top: 1rem solid var(--section-title);
}
section {
    width: calc(100% - 550px);
    float: right;
}
section footer {
    background-color: var(--sidebar-profile);
    width: 100%;
    display: table;
    color: var(--sidebar-color);
    padding-bottom: 2rem;
}
/* ------------------------------------------------------------
# CLASSES
------------------------------------------------------------ */
.user-info {
    width: calc(100% - 110px);
    margin-right: 10px;
    color: var(--sidebar-color);
    text-align: left;
    display: inline-flex;
    justify-content: start;
}
.user-info:hover {
    background-color: var(--section-title);
    border-radius: 10px;
}
.user-info img{
    height: 70px;
    width: 70px;
    margin: 10px;
    border-radius: 10px;
}
.settings {
    background-color: var(--section-title);
    float: right;
    width: 90px;
    height: 90px;
    border-radius: 10px;
    text-align: center;
    justify-content: center;
}
.settings img{
    width: 60%;
    height: 60%;
    transition: transform 0.2s ease-in;
    filter: saturate(100%) invert(100%) sepia(0%) hue-rotate(35deg) brightness(107%) contrast(101%);  
    margin: 20%;
}
.settings:hover img {
    transform: rotate(45deg);
    filter: saturate(100%) invert(100%) sepia(0%) hue-rotate(35deg) brightness(111%) contrast(101%) opacity(0.7);
} 
.nav-list {
    padding: 5%
}
.nav-list > li {
    list-style: none;
    margin: 10px;
    display: flex;
}
.icon {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    cursor: pointer;
    background-color: var(--sidebar-input);
    margin-right: 10px;
}
.icon img {
    padding: 10%;
}
.btn {    
    display: inline-block;
    width: 30%;
    height: 50px;
    font-size: x-large;
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
    background-color: var(--sidebar-input);
}
.btn:hover, .icon:hover {
    background-color: var(--sidebar-profile);
    color: var(--sidebar-color);
}
.icon:hover > img {
    filter: brightness(0) saturate(100%) invert(99%) sepia(87%) saturate(45%) hue-rotate(264deg) brightness(119%) contrast(100%);
}
.logout:hover {
    background-color: var(--sidebar-title);
    filter: drop-shadow(3);
}
.hide {
    position: absolute;
    left: 50%;
    top: 70px;
    display: none;
    color: var(--section-input);
    width: 40%;
}
.active + .hide {
    display: block;
} 
.hide input[type="checkbox"] {
    display: none;
}
.hide span {
    display: block;
    text-align: center;
    padding: 0.2rem;
    font-size: 1rem;
    border: solid 0.2rem var(--section-input);
    border-radius: 0.5rem;
    cursor: pointer;
    margin: 10px;
}
.hide input[type="checkbox"]:checked + span {
    background-color: var(--section-input);
    color: var(--section-color);
}
.logout {
    background-color: var(--sidebar-title);
    color: var(--sidebar-color);
}
.logout img {
    filter: brightness(0) saturate(100%) invert(99%) sepia(87%) saturate(45%) hue-rotate(264deg) brightness(119%) contrast(100%);
} 
.column {
    float: left;
    width: 25%;
}
/* ------------------------------------------------------------ 
# IDs
------------------------------------------------------------ */