.user-profile img {
    float: left;
    height: 150px;
    width: 150px;
    margin: 10px;
    border-radius: 10px;
    object-fit: cover;
}

.user-profile {
    margin: 10px;
}

.user-profile h3 {
    font-size: xx-large;
}

.user-truc {
    position: relative;
    text-align: center;
    display: inline-block;
    margin: 10px;
}

