<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/css/bulma.min.css">
        <link rel="stylesheet" href="../static/css/style2.css">
        <title>SASSANDRA</title>
    </head>
    <body>
        <aside>
            <header>
                <h1>SASSANDRA</h1>
            </header>
            <nav class="nav-list" id="nav">
                <li>
                    <button class="icon" onclick= "window.location.href='{{ url_for('home') }}';"><img src="../static/img/svg/home.svg" alt=""></button>
                    <button class="btn selector active">Home</button>
                    <ul class="hide">
                        <li><label><input type="checkbox"><span>Lastedt News</span></label></li>
                        <li><label><input type="checkbox"><span>Sports</span></label></li>
                        <li><label><input type="checkbox"><span>Politics</span></label></li>
                        <li><label><input type="checkbox"><span>Animes & Mangas</span></label></li>
                        <li><label><input type="checkbox"><span>Sience & Tech</span></label></li>
                        <li><label><input type="checkbox"><span>Gaming</span></label></li>
                        <li><label><input type="checkbox"><span>Animals & Pets</span></label></li>
                        <li><label><input type="checkbox"><span>Girls</span></label></li>
                        <li><label><input type="checkbox"><span>Memes</span></label></li>
                        <li><label><input type="checkbox"><span>Food & Drinks</span></label></li>
                        <li><label><input type="checkbox"><span>Lifestyles</span></label></li>
                        <li><label><input type="checkbox"><span>Divers</span></label></li>
                        <li><label><input type="checkbox"><span>Motor vehicules</span></label></li>
                        <li><label><input type="checkbox"><span>Movies & TV</span></label></li>
                        <li><label><input type="checkbox"><span>Arts & Draws</span></label></li>
                        <li><label><input type="checkbox"><span>Music & Song</span></label></li>
                    </ul>
                </li>
                <li>
                    <button class="icon" onclick= "window.location.href='{{ url_for( 'events' ) }}';"><img src="../static/img/svg/events.svg" alt=""></button>
                    <button class="btn selector">Events</button>
                    <ul class="hide">
                        <li><label><input type="checkbox"><span>Printemps de Bourge</span></label></li>
                        <li><label><input type="checkbox"><span>Jeux Olympiques</span></label></li>
                    </ul>
                </li>
                <li>
                    <button class="icon" onclick= "window.location.href='{{ url_for( 'projects' ) }}';"><img src="../static/img/svg/projects.svg" alt=""></button>
                    <button class="btn selector">Projects</button>
                    <ul class="hide">
                        <li><label><input type="checkbox"><span>Printemps de Bourge</span></label></li>
                        <li><label><input type="checkbox"><span>Retour du Jeux de roles</span></label></li>
                        <li><label><input type="checkbox"><span>Viaduc des Fauvette</span></label></li>
                    </ul>
                </li>
                <li>
                    <button class="icon" onclick= "window.location.href='{{ url_for( 'gitfolio' ) }}';"><img src="../static/img/svg/git.svg" alt=""></button>
                    <button class="btn selector">Gitfolio</button>
                    <ul class="hide">
                        <li><label><input type="checkbox"><span>Exo Copro</span></label></li>
                        <li><label><input type="checkbox"><span>Flask Sassandra</span></label></li>
                        <li><label><input type="checkbox"><span>Curly smooth girls </span></label></li>
                    </ul>
                </li>
                <li>
                    <button class="icon" onclick= "window.location.href='{{ url_for( 'groups' ) }}';"><img src="../static/img/svg/groups.svg" alt=""></button>
                    <button class="btn selector">Equipes</button>
                    <ul class="hide">
                        <li><label><input type="checkbox"><span>Niggas Web by Night</span></label></li>
                        <li><label><input type="checkbox"><span>Grow Lards Crew</span></label></li>
                        <li><label><input type="checkbox"><span>Vieux Frères</span></label></li>
                    </ul>
                </li>
                <li>
                    <button class="icon" onclick= "window.location.href='{{ url_for( 'sassandrin' ) }}';"><img src="../static/img/svg/language.svg" alt=""></button>
                    <button class="btn selector">Sassandrin</button>
                    <ul class="hide">
                        <li><label><input type="checkbox"><span>Présentation</span></label></li>
                        <li><label><input type="checkbox"><span>Principales et Secondaires</span></label></li>
                    </ul>
                </li>
                <li>
                    <button class="icon" onclick= "window.location.href='{{ url_for( 'messages' ) }}';"><img src="../static/img/svg/messages.svg" alt=""></button>
                    <button class="btn selector">Messages</button>
                    <ul class="hide">
                        <li><label><input type="checkbox"><span>Preto</span></label></li>
                        <li><label><input type="checkbox"><span>Joffrey</span></label></li>
                    </ul>
                </li>
                <li>
                    <button class="icon logout" onclick= "window.location.href='{{ url_for( 'logout' ) }}';"><img src="../static/img/svg/logout.svg" alt=""></button>
                    <button class="btn selector logout" onclick= "window.location.href='{{ url_for( 'logout' ) }}';">Logout</button>
                </li>                
            </nav>
            <footer>
                <div class="user-info" onclick= "window.location.href='{{ url_for( 'profile' ) }}';">
                <img src="{{ url_for('static', filename='uploads/' + current_user.profile_image) }}" alt="User Picture">
                    <div class="user-details"> 
                        <h3 class="username">@{{ current_user.username }}</h3>
                        <p class="user-email">{{ current_user.email }}</p>
                    </div>
                </div >
                <div class="settings" onclick= "window.location.href='{{ url_for( 'settings' ) }}';">
                    <img src="../static/img/svg/settings-gear.svg" alt="">
                </div>
            </footer>
        </aside>
        <section>
            <header>
                <h1>SASSANDRA</h1>
            </header>
            <div class="container">
                <div class="post">
                    <p> {{ err }} </p>
                    {% if current_user.is_authenticated %}
                        <p>Hi {{ current_user.username }}</p>
                        <p>Contact : {{ current_user.email }}</p>
                        <p>Followers : {{ current_user.followers }}</p>
                        <p>Following : {{ current_user.following }}</p>
                    {% endif %}
                    <form id="follow-user" action="/follow" method="post">
                        <div class="follow">
                            <label for="follow-email"><b>Follow user</b></label>
                            <input type="text" placeholder="User email" name="follow-email" size="45" required>

                            <button type="submit">Follow</button>
                        </div>
                    </form>
                    <form id="unfollow-user" action="/unfollow" method="post">
                        <div class="follow">
                            <label for="unfollow-email"><b>Unfollow user</b></label>
                            <input type="text" placeholder="User email" name="unfollow-email" size="45" required>

                            <button type="submit">Unfollow</button>
                        </div>
                    </form>
                    <br><br><br><br><br><br><br><br><br><br>
                    <br><br><br><br><br><br><br><br><br><br>
                </div>
            </div>
            <footer>
                <div class="column">
                    <h1 style="font-size: xx-large;">SASSANDRA</h1>
                </div>
                <div class="column">
                    <h2 style="font-size: larger;">A propos</h2>
                    <p>_ Qui sommes nous ?</p>
            
                </div>
                <div class="column">
                    <h2 style="font-size: larger;">Besoin d'aide</h2>
                    <p>_ Information sur la positon ?</p>
                    <p>_ Paiement</p>
                    <p>_ Livraison</p>
                    <p>_ Aide et assistance</p>
                </div>
                <div class="column">
                    <h2 style="font-size: larger;">La loi et l'ordre</h2>
                    <p>_ Conditions générales d'utilisation</p>
                    <p>_ Protection des données</p>
                    <p>_ Cookies</p>
                    <span style="color: darkgray; font-size: small;">Achats 0% sécurisés</span>
                </div>
            </footer>
        </section>
        <script src="../static/js/script.js"></script>
        <script src="../static/js/nav.js"></script>
    </body>
</html>