<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/css/bulma.min.css">
        <link rel="stylesheet" href="../static/css/style2.css">
        <title>SASSANDRA</title>
    </head>
    <body>
        <aside>
            <nav class="nav-list">
                <li>
                    <button class="icon btn-list"><a href=" {{url_for('home')}} "><img src="../static/img/svg/home.svg" alt=""></a></button>
                    <button class="select btn-list">Home</button>
                    <ul class="hide themes">
                        <li><label><input type="checkbox"><span>Lastedt News</span></label></li>
                        <li><label><input type="checkbox"><span>Sports</span></label></li>
                        <li><label><input type="checkbox"><span>Politics</span></label></li>
                        <li><label><input type="checkbox"><span>Animes & Mangas</span></label></li>
                        <li><label><input type="checkbox"><span>Sience & Tech</span></label></li>
                        <li><label><input type="checkbox"><span>Gaming</span></label></li>
                        <li><label><input type="checkbox"><span>Animals & Pets</span></label></li>
                        <li><label><input type="checkbox"><span>Girls</span></label></li>
                        <li><label><input type="checkbox"><span>Memes</span></label></li>
                        <li><label><input type="checkbox"><span>Food & Drinks</span></label></li>
                        <li><label><input type="checkbox"><span>Lifestyles</span></label></li>
                        <li><label><input type="checkbox"><span>Divers</span></label></li>
                        <li><label><input type="checkbox"><span>Motor vehicules</span></label></li>
                        <li><label><input type="checkbox"><span>Movies & TV</span></label></li>
                        <li><label><input type="checkbox"><span>Arts & Draws</span></label></li>
                        <li><label><input type="checkbox"><span>Music & Song</span></label></li>
                    </ul>
                </li>
                <li>
                    <button class="icon btn-list"><a href=" {{url_for('events')}} "><img src="../static/img/svg/events.svg" alt=""></a></button>
                    <button class="select btn-list">Events</button>
                    <ul class="hide themes">
                        <li><label><input type="checkbox"><span>Printemps de Bourge</span></label></li>
                        <li><label><input type="checkbox"><span>Jeux Olympiques</span></label></li>
                    </ul>
                </li>
                <li>
                    <button class="icon btn-list"><a href=" {{url_for('projects')}} "><img src="../static/img/svg/projects.svg" alt=""></a></button>
                    <button class="select btn-list">Projects</button>
                    <ul class="hide themes">
                        <li><label><input type="checkbox"><span>Printemps de Bourge</span></label></li>
                        <li><label><input type="checkbox"><span>azer</span></label></li>
                    </ul>
                </li>
                <li>
                    <button class="icon btn-list"><a href=" {{url_for('gitfolio')}} "><img src="../static/img/svg/git.svg" alt=""></a></button>
                    <button class="select btn-list">Gitfolio</button>
                    <ul class="hide themes">
                        <li><label><input type="checkbox"><span>Exo Copro</span></label></li>
                        <li><label><input type="checkbox"><span>Flask Sassandra</span></label></li>
                        <li><label><input type="checkbox"><span>Girls </span></label></li>
                    </ul>
                </li>
                <li>
                    <button class="icon btn-list"><a href=" {{url_for('equipes')}} "><img src="../static/img/svg/groups.svg" alt=""></a></button>
                    <button class="select btn-list">Equipes</button>
                    <ul class="hide themes">
                        <li><label><input type="checkbox"><span>Niggas Web by Night</span></label></li>
                        <li><label><input type="checkbox"><span>Grow Lards Crew</span></label></li>
                        <li><label><input type="checkbox"><span>Vieux Frères</span></label></li>
                    </ul>
                </li>
                <li>
                    <button class="icon btn-list"><a href=" {{url_for('sassandrin')}} "><img src="../static/img/svg/language.svg" alt=""></a></button>
                    <button class="select btn-list">Sassandrin</button>
                    <ul class="hide themes">
                        <li><label><input type="checkbox"><span>Présentation</span></label></li>
                        <li><label><input type="checkbox"><span>Principales et Secondaires</span></label></li>
                    </ul>
                </li>
                <li>
                    <button class="icon btn-list"><a href=" {{url_for('messages')}} "><img src="../static/img/svg/messages.svg" alt=""></a></button>
                    <button class="select btn-list">Messages</button>
                    <ul class="hide themes">
                        <li><label><input type="checkbox"><span>Preto</span></label></li>
                        <li><label><input type="checkbox"><span>Joffrey</span></label></li>
                    </ul>
                </li>
                <li>
                    <button class="icon logout"><a href=" {{url_for('logout')}} "><img src="../static/img/svg/logout.svg" alt=""></a></button>
                </li>
                
            </nav>
            <footer>
                <div class="user-info">
                    <a href=" {{url_for('profile')}} ">
                        <img src="../static/img/png/profile.jpg" alt="User profile image">
                        <div>
                            <p>@Username</p>
                            <p>uname@email.com</p>
                        </div>
                    </a>
                </div>
                <div class="settings">
                    <a href=" {{url_for('setting')}} ">
                        <img src="./static/img/svg/settings-gear.svg" alt="">
                    </a>
                </div>
            </footer>
        </aside>
        <header>
            <h1>SASSANDRA</h1>
        </header>
        <section>
            <div class="container">
                <br><br><br><br><br><br><br><br><br><br>
                <br><br><br><br><br><br><br><br><br><br>
                <br><br><br><br><br><br><br><br><br><br>
                <br><br><br><br><br><br><br><br><br><br>
            </div>
        </section>
        <footer>
            <div class="column">
                <h1>SASSANDRA</h1>
            </div>
            <div class="column">
                <h2 style="font-size: larger;">A propos</h2>
                <p>_ Qui sommes nous ?</p>
        
            </div>
            <div class="column">
                <h2 style="font-size: larger;">Besoin d'aide</h2>
                <p>_ Information sur la positon ?</p>
                <p>_ Paiement</p>
                <p>_ Livraison</p>
                <p>_ Aide et assistance</p>
            </div>
            <div class="column">
                <h2 style="font-size: larger;">La loi et l'ordre</h2>
                <p>_ Conditions générales d'utilisation</p>
                <p>_ Protection des données</p>
                <p>_ Cookies</p>
                <span style="color: darkgray; font-size: small;">Achats 0% sécurisés</span>
            </div>
        </footer>
    </body>
</html>