<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="../static/css/bulma.min.css">
        <link rel="stylesheet" href="../static/css/user.css">
        <link rel="stylesheet" href="../static/css/style2.css">
        <title>SASSANDRA</title>
    </head>
    <body>
        <aside>
            <header>
                <h1>SASSANDRA</h1>
            </header>
            <nav class="nav-list" id="nav">
                <li>
                    <button class="icon" onclick= "window.location.href='{{ url_for('home') }}';"><img src="../static/img/svg/home.svg" alt=""></button>
                    <button class="btn selector active">Home</button>
                    <ul class="hide">
                        <li><label><input type="checkbox"><span>Lastedt News</span></label></li>
                        <li><label><input type="checkbox"><span>Sports</span></label></li>
                        <li><label><input type="checkbox"><span>Politics</span></label></li>
                        <li><label><input type="checkbox"><span>Animes & Mangas</span></label></li>
                        <li><label><input type="checkbox"><span>Sience & Tech</span></label></li>
                        <li><label><input type="checkbox"><span>Gaming</span></label></li>
                        <li><label><input type="checkbox"><span>Animals & Pets</span></label></li>
                        <li><label><input type="checkbox"><span>Girls</span></label></li>
                        <li><label><input type="checkbox"><span>Memes</span></label></li>
                        <li><label><input type="checkbox"><span>Food & Drinks</span></label></li>
                        <li><label><input type="checkbox"><span>Lifestyles</span></label></li>
                        <li><label><input type="checkbox"><span>Divers</span></label></li>
                        <li><label><input type="checkbox"><span>Motor vehicules</span></label></li>
                        <li><label><input type="checkbox"><span>Movies & TV</span></label></li>
                        <li><label><input type="checkbox"><span>Arts & Draws</span></label></li>
                        <li><label><input type="checkbox"><span>Music & Song</span></label></li>
                    </ul>
                </li>
                <li>
                    <button class="icon" onclick= "window.location.href='{{ url_for( 'events' ) }}';"><img src="../static/img/svg/events.svg" alt=""></button>
                    <button class="btn selector">Events</button>
                    <ul class="hide">
                        <li><label><input type="checkbox"><span>Printemps de Bourge</span></label></li>
                        <li><label><input type="checkbox"><span>Jeux Olympiques</span></label></li>
                    </ul>
                </li>
                <li>
                    <button class="icon" onclick= "window.location.href='{{ url_for( 'gitfolio' ) }}';"><img src="../static/img/svg/git.svg" alt=""></button>
                    <button class="btn selector">Gitfolio</button>
                    <ul class="hide">
                        <li><label><input type="checkbox"><span>Exo Copro</span></label></li>
                        <li><label><input type="checkbox"><span>Flask Sassandra</span></label></li>
                        <li><label><input type="checkbox"><span>Curly smooth girls </span></label></li>
                    </ul>
                </li>
                <li>
                    <button class="icon" onclick= "window.location.href='{{ url_for( 'groups' ) }}';"><img src="../static/img/svg/groups.svg" alt=""></button>
                    <button class="btn selector">Equipes</button>
                    <ul class="hide">
                        <li><label><input type="checkbox"><span>Niggas Web by Night</span></label></li>
                        <li><label><input type="checkbox"><span>Grow Lards Crew</span></label></li>
                        <li><label><input type="checkbox"><span>Vieux Frères</span></label></li>
                    </ul>
                </li>
                <li>
                    <button class="icon" onclick= "window.location.href='{{ url_for( 'sassandrin' ) }}';"><img src="../static/img/svg/language.svg" alt=""></button>
                    <button class="btn selector">Sassandrin</button>
                    <ul class="hide">
                        <li><label><input type="checkbox"><span>Présentation</span></label></li>
                        <li><label><input type="checkbox"><span>Principales et Secondaires</span></label></li>
                    </ul>
                </li>
                <li>
                    <button class="icon" onclick= "window.location.href='{{ url_for( 'messages' ) }}';"><img src="../static/img/svg/messages.svg" alt=""></button>
                    <button class="btn selector">Messages</button>
                    <ul class="hide">
                        <li><label><input type="checkbox"><span>Preto</span></label></li>
                        <li><label><input type="checkbox"><span>Joffrey</span></label></li>
                    </ul>
                </li>
                <li>
                    <button class="icon logout" onclick= "window.location.href='{{ url_for( 'logout' ) }}';"><img src="../static/img/svg/logout.svg" alt=""></button>
                    <button class="btn selector logout" onclick= "window.location.href='{{ url_for( 'logout' ) }}';">Logout</button>
                </li>                
            </nav>
            <footer>
                <div class="user-info" onclick= "window.location.href='{{ url_for('user', username=current_user.username) }}';">
                <img src="{{ url_for('static', filename='uploads/' + current_user.profile_image) }}" alt="User Picture">
                    <div class="user-details"> 
                        <h3 class="username">@{{ current_user.username }}</h3>
                        <p class="user-email">{{ current_user.email }}</p>
                    </div>
                </div >
                <div class="settings" onclick= "window.location.href='{{ url_for( 'settings' ) }}';">
                    <img src="../static/img/svg/settings-gear.svg" alt="">
                </div>
            </footer>
        </aside>
        <section>
            <header>
                <h1>SASSANDRA</h1>
            </header>
            <div class="container">
                <div class="post">
                    <div class="user-profile"> 
                        <img src="{{ url_for('static', filename='uploads/' + user.profile_image) }}" alt="User Picture" class="w3-border">
                        <h3 class="username"><strong>@{{ user.username }}</strong></h3>
                        <h4 class="user-email"><strong>{{ user.email }}</strong></h4>
                    </div>
                    <div class="user-truc">
                        <div>
                            <button onclick="document.getElementById('id02').style.display='block'" class="w3-button w3-blue"><h4>Followers {{ followers|count }}</h4></button>
                            <button onclick="document.getElementById('id01').style.display='block'" class="w3-button w3-blue"><h4>Following {{ following|count }}</h4></button>
                        </div>
                        
                        <div id="id01" class="w3-modal">
                            <div class="w3-modal-content">
                                <div class="w3-container">
                                    <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-display-topright">&times;</span>
                                    {% for follow in following %}
                                        <p> <a href="{{ url_for('user', username=follow.username) }}">{{ follow.username }}</a></p>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div id="id02" class="w3-modal">
                            <div class="w3-modal-content">
                                <div class="w3-container">
                                    <span onclick="document.getElementById('id02').style.display='none'" class="w3-button w3-display-topright">&times;</span>
                                    {% for follower in followers %}
                                        <p> <a href="{{ url_for('user', username=follower.username) }}">{{ follower.username }}</a></p>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <br><br><br>
                        <div class="descript" style="display: inline-block;">
                            <p>{{ user.descript }}</p>
                            {% if user.username == current_user.username %}
                            <button onclick="document.getElementById('id03').style.display='block'" class="w3-margin w3-button w3-green"><h4> Modif </h4></a></button>
                            <div id="id03" class="w3-modal">
                                <div class="w3-modal-content">
                                    <div class="w3-container">
                                        <form id="register-form" action="/description" method="post" enctype="multipart/form-data">
                                            <textarea name="descript" cols="50" rows="5" class="z3-right w3-margin">
                                            </textarea>
                                            <button type="submit" onclick="document.getElementById('id03').style.display='none'" class="w3-button w3-green w3-display-topright">Save</button>
                                        </form>
                                    </div>  
                                </div>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    
                    <br><br><br><br><br><br><br><br><br><br>
                    <br><br><br><br><br><br><br><br><br><br>
                </div>
            </div>
            <footer>
                <div class="column">
                    <h1 style="font-size: xx-large;">SASSANDRA</h1>
                </div>
                <div class="column">
                    <h2 style="font-size: larger;">A propos</h2>
                    <p>_ Qui sommes nous ?</p>
            
                </div>
                <div class="column">
                    <h2 style="font-size: larger;">Besoin d'aide</h2>
                    <p>_ Information sur la positon ?</p>
                    <p>_ Paiement</p>
                    <p>_ Livraison</p>
                    <p>_ Aide et assistance</p>
                </div>
                <div class="column">
                    <h2 style="font-size: larger;">La loi et l'ordre</h2>
                    <p>_ Conditions générales d'utilisation</p>
                    <p>_ Protection des données</p>
                    <p>_ Cookies</p>
                    <span style="color: darkgray; font-size: small;">Achats 0% sécurisés</span>
                </div>
            </footer>
        </section>
        <script src="../static/js/script.js"></script>
        <script src="../static/js/nav.js"></script>
    </body>
</html>